* {
  /*border: thin black dashed;*/
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', monospace;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.button {
  margin: 10px;
  color: rgb(15, 232, 192);
  border: 2px rgb(15, 232, 192);
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.player-card {
  border: 2px rgb(255, 47, 192) solid;
  border-radius: 5px;
  width: 49%;
  display: flex;
  justify-content: space-evenly;
}

.computer-card {
  border: 2px rgb(255, 208, 0) solid;
  border-radius: 5px;
  width: 49%;
  display: flex;
  justify-content: space-evenly;
}

.one-third{
  width: 32%;
}

.result{
  border: 3px black dashed;
  border-radius:5px;
  display: flex;
  justify-content: center;
}

.home{
  border: thin blue solid;
  border-radius: 3px;
  text-decoration: none;
}
