* {
  /*border: thin black dashed;*/
  box-sizing: border-box;
}

body {
  font-family: 'Audiowide', cursive;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.button {
  margin: 10px;
  color: rgb(15, 232, 192);
  border: 2px rgb(15, 232, 192) solid;
  background-color:rgba(15, 232, 192, 0.18);
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.player-card {
  margin: 10px;
  border: 2px rgb(255, 47, 179) solid;
  background-color: rgba(255, 47, 179, 0.462);
  border-radius: 5px;
  width: 49%;
  display: flex;
  justify-content: space-evenly;
}

.computer-card {
  margin: 10px;
  border: 2px rgb(255, 199, 43) solid;
  background-color: rgba(255, 199, 43, 0.462);
  border-radius: 5px;
  width: 49%;
  display: flex;
  justify-content: space-evenly;
}

.one-third{
  width: 32%;
}

.result{
  display: flex;
  justify-content: center;
}

.home a{
  color:blue;
  border: thin blue solid;
  border-radius: 3px;
  text-decoration: none;
  width: 8%;
  display:inline-block;
  padding: 5px;
}
